<div class="hero-unit">
<h2>T2 Staying Healthy</h2>
	
	<p><class="align-center">
      <p>Sex info that is medically accurate and true when you want it.
    </p>
	</div><!--/row-->
	<!--<div class="row-fluid"> -->
 	<div class="btn-group">

 		<div class="span5">
        <!--<h2>Staying Healthy</h2>
         <p>Some tips on how to stay healthy.</p>-->
         <p><%= link_to "annual doc visit", stayhealthy_path, class: "btn btn-primary btn-block btn-large" %></p>
       </div>

         <div class="span5">
         <!--<h2>Options After Unprotected Sex</h2>
          <p>Ooops, the condom broke. Learn what you can do to protect against unwanted pregnancy.</p>-->
          <p><%= link_to "abstinence", condom_path, class: "btn btn-primary btn-block btn-large" %></p>
        </div>

        
        <div class="span5">
         <!-- <h2>I'm pregnant - options?</h2> 
          <p>Learn what your options are if you are pregnant.</p>-->
          <p><%= link_to "condoms", pregoptions_path, class: "btn btn-block btn-primary btn-large" %></p>
        </div>

        <div class="span5">
         <!--<h2>Options After Unprotected Sex</h2>
          <p>Ooops, the condom broke. Learn what you can do to protect against unwanted pregnancy.</p>-->
          <p><%= link_to "douching", condom_path, class: "btn btn-primary btn-block btn-large" %></p>
        </div>
        
        <div class="span5">
        <!-- <h2>Call/Chat with an Expert</h2> 
          <p>Ask a trained health educator your question over text, chat or email.</p>-->
          <p><%= link_to "preventing UTIs-urinery tract infections", expert_path, class: "btn btn-primary btn-block btn-large" %></p> 
        </div><!--/row-->


        <div class="span5">
        <!--<h2>Staying Healthy</h2>
         <p>Some tips on how to stay healthy.</p>-->
         <p><%= link_to "preventing yeast infections", stayhealthy_path, class: "btn btn-primary btn-block btn-large" %></p>
       </div>

         
</div>
        
    </div>